:root {
  --primary: #222831;
  --secondary : #393E46;
  --accent: #00ADB5;
  --light: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  margin: 1rem auto;
  width: 50%;
}

.cell {
  height: 50px;
  width: 50px;
  background-color: var(--light);
}